.login-container {
    background-image: url('../../assets/image/istockphoto-1145351600-612x612.jpg');
    background-size: cover;
    background-position: center; 
    padding-bottom: 178px ;
  }
  .SinIn-container{
    background-image: url('../../assets/image/istockphoto-1145351600-612x612.jpg');
    background-size: cover;
    background-position: center; 
    padding-bottom: 75px ;
  }
